<div class="p-8 flex flex-column justify-content-between">
  <div class="header-section flex justify-content-between align-items-center">
    <h1>Add New Driver</h1>
    <app-user-profile-card [user]="currentUser"></app-user-profile-card>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Photo</label>
      <input type="file" class="input" formControlName="photo">
      <span *ngIf="shouldShowError('photo')" class="error">Photo is required</span>
    </div>

    <div class="field">
      <label class="label">Complete Name</label>
      <input type="text" class="input" formControlName="complete_name">
      <span *ngIf="shouldShowError('complete_name')" class="error">Complete name is required</span>
    </div>

    <div class="field">
      <label class="label">DNI</label>
      <input type="text" class="input" formControlName="dni">
      <span *ngIf="shouldShowError('dni')" class="error">DNI is required</span>
    </div>

    <div class="field">
      <label class="label">License Number</label>
      <input type="text" class="input" formControlName="license_number">
      <span *ngIf="shouldShowError('license_number')" class="error">License number is required</span>
    </div>

    <div class="field">
      <label class="label">License Photo</label>
      <input type="file" class="input" formControlName="license_photo">
      <span *ngIf="shouldShowError('license_photo')" class="error">License photo is required</span>
    </div>

    <div>
      <button type="submit" class="button">Register</button>
    </div>
  </form>
</div>
