<div class="pr-8 pl-8 pt-3 pb-3 flex flex-column gap-4">
  <div class="bus-units-container">
    <h1>Bus units</h1>
    <mat-form-field class="search-bus-unity-driver">
      <mat-label>Driver</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jaime Buendia" #inputDriver>
    </mat-form-field>
    <mat-form-field class="search-bus-unity-license">
      <mat-label>License plate</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 101" #inputLicense>
    </mat-form-field>
    <button mat-flat-button color="primary" class="add-unit-button" (click)="goToAddBusUnit()">
      Add bus unit
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Driver ID Column -->
      <ng-container matColumnDef="drivers_id">
        <th mat-header-cell *matHeaderCellDef> Driver </th>
        <td mat-cell *matCellDef="let element"> {{ element.drivers_id }} </td>
      </ng-container>

      <!-- Associated Bus ID Column -->
      <ng-container matColumnDef="buses_id">
        <th mat-header-cell *matHeaderCellDef> Associated Bus</th>
        <td mat-cell *matCellDef="let element"> {{ element.buses_id }} </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary" class="edit-button" (click)="goToEditBusUnit()">Edit</button>
          <button mat-flat-button class="delete-button">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>