$primary-color: #556BDA;
$secondary-color: #97A1D7;
$edit-button-color: #2F80ED;
$delete-button-color: #990000;

h1{
    color: var(--color-primary)
  }
  
p{
    color: var(--color-primary)
}
.add-unit-button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    font-family: inherit;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
}
button .edit-button{
  color: #2F80ED;
}
button .delete-button{
  color: #990000;
}
