<mat-card class="plan-card">
  <mat-card-title class="flex mb-3 mt-3 align-items-center justify-content-center">Plan Premium</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="justify-content-center mt-3 mb-3 ml-6 mr-6">
      <ul class="features-list">
        <div class="flex">
          <mat-icon>check</mat-icon>
          <li>Complete information on bus stops with the highest influx of passengers</li>
        </div>
        <div class="flex">
          <mat-icon>check</mat-icon>
          <li>Complete information on schedules with the highest influx of passengers</li>
        </div>
        <div class="flex">
          <mat-icon>check</mat-icon>
          <li>See the status of your drivers</li>
        </div>

        <div class="flex">
          <mat-icon>check</mat-icon>
          <li>Receive notifications based on the status of your drivers</li>
        </div>
      </ul>
    </div>

    <div class="flex justify-content-center price-tag mt-5 mb-5">
      <div class="mr-2 align-self-start">
        By
      </div>
      <div>
        <span class="price">S/24</span>
      </div>
      <div class="ml-2 align-self-end font-bold" >
        monthly
      </div>
    </div>
  </mat-card-content>
</mat-card>
