$primary-color: #556bda;
$secondary-color: #97a1d7;
$edit-button-color: #2f80ed;
$delete-button-color: #990000;

.schedule-dialog {
  font-family: "Urbanist", "Helvetica Neue", sans-serif;

  h1 {
    color: var(--color-primary);
    text-align: center;
  }

  .bus-info {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    p {
      margin: 5px 0;
    }
  }

  .departure-times {
    font-family: inherit;
    button {
      background-color: var(--color-primary);
      color: white;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      align-self: center;
      margin: 20px 0;
      max-width: 100px;
      font-family: inherit;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
    .time-selector {
      display: flex;
      max-width: fit-content;
      align-items: center;

      mat-form-field {
        margin-right: 5px;
      }

      span {
        margin: 0 5px;
      }
    }

    .short-selector {
      width: 60px;
    }

    .time-format-toggle {
      margin-left: 10px;
    }

    h2 {
      color: var(--color-primary);
      text-align: center;
    }

    table {
      width: 80%;
      margin-top: 10px;
      border-spacing: 0 10px;

      th {
        text-align: center;
      }

      td {
        text-align: center;
      }

      .mat-form-field {
        width: 100%;
        border-radius: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: $primary-color;

        .departure-input {
          text-align: center;
          padding: 5px 10px;
        }

        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border-radius: 20px;
            border: none;
          }
        }
      }
    }
  }

  [mat-dialog-actions] {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 14px;
      font-family: inherit;
      display: flex;
      align-items: center;
      margin-left: 10px;

      mat-icon {
        margin-right: 5px;
      }

      &:first-child {
        color: var(--color-primary);
      }
    }
  }
}
