<div class="schedule-dialog">
  <h1 mat-dialog-title>Assign Departure Times</h1>

  <div mat-dialog-content>
    <div class="bus-info">
      <p><strong>Selected Date:</strong> {{ data.date | date }}</p>

      <p><strong>Bus Unit:</strong> {{ data.busUnit.name }}</p>
    </div>

    <div class="departure-times">
      <h1 mat-dialog-title>Departure Times</h1>

      <table>
        <thead>
          <tr>
            <th>Lap</th>

            <th>Departure Time</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let time of departureTimes; let i = index">
            <td>{{ i + 1 }}</td>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Departure Time</mat-label>

                <input
                  matInput
                  type="time"
                  [(ngModel)]="departureTimes[i]"
                  class="departure-input"
                />

                <mat-icon matSuffix>schedule</mat-icon>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">
      <mat-icon>cancel</mat-icon>

      Cancel
    </button>

    <button
      mat-button
      color="primary"
      (click)="onAddToTable()"
      [disabled]="hasEmptyDepartureTimes()"
    >
      <mat-icon>add</mat-icon>

      Add to Table
    </button>
  </div>
</div>
