<div class="schedule-dialog">
  <h1 mat-dialog-title>Assign Departure Times</h1>
  <div mat-dialog-content>
    <table>
      <thead>
      <tr>
        <th>Lap</th>
        <th>Date</th>
        <th>Bus Unit</th>
        <th>Departure Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let time of departureTimes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.date | date }}</td>
        <td>{{ data.busUnit.name }}</td>
        <td>
          <mat-form-field>
            <input matInput type="time" [(ngModel)]="departureTimes[i]">
            <mat-icon matSuffix>schedule</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onAddToTable()" [disabled]="hasEmptyDepartureTimes()">Add to table</button>
  </div>
</div>
