h1{
    color: var(--color-primary)
  }
  
  p{
    color: var(--color-primary)
  }

  .back-button{
    padding: 8px 16px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: darken(#556BDA, 10%);
    }
  }