h1{
    color: var(--color-primary);
    font-family: Urbanist, "Helvetica Neue", sans-serif;
    font-size: 2em;
}

.itinerary-container{
    margin: 50px 50px 50px 50px;
}

.title{
    color:  var(--color-primary);
    font-size: 30px;
}

.general-data{
    background: white;
    border-radius: 8px;
} 


.payment{
    background: white;
    border-radius: 8px;
} 


.itinerary-container .flex.flex-column, .itinerary-container form {
    width: 100%;  
}
  
.itinerary-container mat-form-field {
    width: 100%;  
    margin-top: 20px; 
    box-sizing: border-box; 
}
  
p {
    margin: 0px;
    color: var(--color-text);
}

.add-stop-button{
    width: 100%;
    height: 3.5rem;
}

.google-map{
    height: 200px;
}


.payment-method{
    color: var(--color-primary);
}

mat-form-field{
margin: 0px;
padding: 0px;
}