<mat-toolbar class="header">
  <span class="my-5">ChapaTuBus</span>
</mat-toolbar>

<form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="userEmail">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="userPassword">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Sign Ip</button>
</form>
  