.example-card {
  max-width: 700px;
  margin: 0 auto; /* Centra el mat-card horizontalmente */
}

.image-container {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
  margin-top: 40px;
}

.image-container img {
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: 150px; /* Ajusta el tamaño de la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
}

h1{
    color: var(--color-primary);
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
  }
  
  p{
    color: var(--color-primary)
  }
  
  .label{
    color: black;
    font-family: 'Urbanist', sans-serif;
  }
  .form-container{
    border-radius: 5px ;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
  
  .back-button{
    padding: 8px 16px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: darken(#556BDA, 10%);
    }
  }
  
  .big-button {
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 10px 50px;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: bold;
    background-color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Urbanist', sans-serif;
  }
  
  .big-button:hover {
    border: none;
    background-color: var(--color-primary);
    color: #FFFFFF;
  }
  
  
  .input-file{
    color: black;
    font-family: 'Urbanist', sans-serif;
  }
  
  span{
    font-family: 'Urbanist', sans-serif;
  }
  
  .input-style{
    height:2rem;
    border-radius: 5px; // Bordes redondeados
    border: 1px solid #ccc; // Borde sólido con color suave
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); // Sombra interior para profundidad
    outline: none; // Elimina el borde de foco predeterminado
    width: 100%; // Ocupa todo el ancho disponible
    transition: border-color 0.3s; // Suaviza la transición de color de borde
  }
  
  .input-style:focus{
    border-color: var(--color-primary); // Cambia el color del borde al enfocarse
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 123, 255, 0.6); // Sombra más destacada al enfocar
  }
  
  /* INPUT FILE SCSS------------------------ */
  
  input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 16px;
  }
  
  input[type="file"]::after {
    top: 14px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: var(--color-primary);
    content: "Upload File";
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  
  /* ------------------------ */
  