<div>
  <div class="flex flex-column">
    <div class="flex align-items-center justify-content-start font-bold border-round ">
      <app-back-button></app-back-button>
      <h1 class="ml-2 mb-0">Buses</h1>
    </div>
  </div>
  <div class="flex align-items-end justify-content-end">
    <button mat-flat-button color="primary" class="big-button" (click)="openDialog()">Añadir Bus</button>
  </div>

  <div class="my-5">
    <mat-divider></mat-divider>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- LicensePlate Column -->
    <ng-container matColumnDef="licensePlate">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <!-- seatCapacity Column -->
    <ng-container matColumnDef="seatCapacity">
      <th mat-header-cell *matHeaderCellDef> Capacidad Sentados </th>
      <td mat-cell *matCellDef="let element"> {{element.seatCapacity}} </td>
    </ng-container>

    <!-- totalCapacity Column -->
    <ng-container matColumnDef="totalCapacity">
      <th mat-header-cell *matHeaderCellDef> Capacidad Total </th>
      <td mat-cell *matCellDef="let element"> {{element.totalCapacity}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="primary" (click)="openDialog(element)" class="mr-2">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBus(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>