h1{
  color: var(--color-primary)
}

p{
  color: var(--color-primary)
}

.big-button {
  padding: 22px 24px; /* Aumenta el padding para hacer el botón más grande */
  font-size: 1rem; /* Aumenta la fuente */
}

.bordered-card {
  border: 2px solid #dee2e6;
  border-radius: 8px;
  transition: border-color 0.3s;
}
.bordered-card:hover {
  border-color: #556BDA;
}
