$primary-color: #556BDA;
$secondary-color: #c6c9e9;
.departure-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  color: var(--color-primary);
  text-align: left;
  margin-left: 20px;
}

button {
  background-color: var(--color-primary);
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 200px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  border: none;

  th, td {
    padding: 10px;
    text-align: left;
  }
  th{
    background-color: var(--color-primary);
    color: white;
    font-weight: lighter; // Add bold font weight
    text-transform: uppercase; // Convert to uppercase
  }
  tr:nth-child(even) {
    background-color: var(--color-secondary);
  }
  tr:nth-child(odd) {
    background-color: white;
  }
  tr:hover{
    background-color: var(--color-primary);
    td {color: white}
    transition: background-color 0.5s;
  }
  td {
    border-bottom: 1px solid var(--color-primary);
    color: black;
    cursor: pointer;
  }
}


