<div class="departure-container">
  <h1>Departure schedule records</h1>
  <button (click)="goToCreateNewDepartureSchedule()">
    Create new departure schedule
  </button>
  <table>
    <thead>
    <tr>
      <th>Unit bus</th>
      <th>Driver</th>
      <th>Bus</th>
      <th>Date</th>
      <th>Shift start</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let schedule of departureScheduleDisplays; let i = index">
      <tr [ngClass]="{ 'secondary-row': i % 2 === 0 }">
        <td>{{ schedule.bus_unit_id }}</td>
        <td>{{ schedule.driver }}</td>
        <td>{{ schedule.bus }}</td>
        <td>{{ schedule.departure_date }}</td>
        <td>{{ schedule.shift_start }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
