$primary-color: #556BDA;
$secondary-color: #97A1D7;
$edit-button-color: #2F80ED;
$delete-button-color: #990000;

.departure-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: Urbanist, "Helvetica Neue", sans-serif;

  h1 {
    color: var(--color-primary);
    text-align: left;
    margin-left: 20px;
    font-family: inherit;
  }

  button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    font-family: inherit;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border: none;

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: var(--color-primary);
      color: white;
      font-weight: lighter;
      text-transform: uppercase;
    }

    tr:nth-child(even) {
      background-color: var(--color-secondary);
    }

    tr:nth-child(odd) {
      background-color: white;
    }

    tr.departure-record:hover {
      background-color: var(--color-primary);

      td {
        color: white;
      }

      transition: background-color 0.5s;
    }

    .accordion-content{
      cursor: auto;
      padding: 5px;

      td, th {
        cursor: inherit;
        text-align: center;
        padding: 5px;
      }
    }
    .action-buttons {
      justify-content: center;
      margin: 0;
      padding: 0;
      //flex-direction: row;
      //align-items: baseline;
      //gap: 5px;

      button {
        align-self: flex-start;
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;

        i {
          margin-right: 5px;
        }
      }

      .edit-button {
        background-color: $edit-button-color;
        color: white;

        &:hover {
          background-color: darken($edit-button-color, 10%);
        }
      }

      .delete-button {
        background-color: $delete-button-color;
        color: white;

        &:hover {
          background-color: darken($delete-button-color, 10%);
        }
      }
    }

    td {
      border-bottom: 1px solid var(--color-primary);
      color: black;
      cursor: pointer;
    }
  }
}
