<div class="flex flex-column gap-2">
    <div class="flex flex-column">
      <div class="flex align-items-center justify-content-start font-bold border-round ">
          <app-back-button></app-back-button>
          <h1 class="font-bold ml-2 mb-0">Bus units</h1>
      </div>
    </div>
    
    <div class="formgroup-inline justify-content-end">
      <div class="field">
        <form [formGroup]="busUnitForm" (ngSubmit)="busUnitSubmit()">
          <mat-form-field appearance="outline" class="mr-2">
            <mat-label>Driver</mat-label>
            <mat-select formControlName="driverId">
              <mat-option *ngFor="let driver of drivers" [value]="driver.id">
                {{driver.firstName}} {{driver.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mr-4">
            <mat-label>Bus</mat-label>
            <mat-select formControlName="busId">
              <mat-option *ngFor="let bus of buses" [value]="bus.id">
                {{bus.licensePlate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" style="height: 3.4rem; width: 8rem;" class="add-unit-button">
            Add bus unit</button>
        </form>
        </div>        
    </div>

    <div class="mb-5">
      <mat-divider></mat-divider>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Driver Column -->
      <ng-container matColumnDef="driver_name">
        <th mat-header-cell *matHeaderCellDef> Driver </th>
        <td mat-cell *matCellDef="let element"> {{ element.driver.firstName }} {{ element.driver.lastName }} </td>
      </ng-container>

      <!-- Associated bus Column -->
      <ng-container matColumnDef="buses_license_plate">
        <th mat-header-cell *matHeaderCellDef> Associated bus </th>
        <td mat-cell *matCellDef="let element"> {{ element.bus.licensePlate }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" class="edit-button"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" class="delete-button"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>