mat-card-title{
  color:  var(--color-primary);
  margin: 3px;
  justify-content: center;
}

.payment-detail-card{
  background: white;
  border-radius: 8px;
  width: auto;
  
}

.features-list {
  list-style: none; /* Elimina los bullets de la lista */
  padding: 0; /* Elimina el padding predeterminado */
}

.features-list li {
  padding: 5px 0; /* Espacio entre elementos de la lista */
  color: var(--color-text);
}

.price-tag {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-text);

  .price-tag-value{
    font-size: 1.5em;
    color: var(--color-primary);
  }

}

.payment-method{
  color: var(--color-text);
}