<mat-drawer-container class="menu-container" fullscreen>
    <mat-drawer mode="side" opened>
        <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center h-4rem border-round mt-6 mb-3">
                <img src="../../../../../assets/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
                <h2 class="title">ChapaTuBus</h2>
            </div>
            <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
                <h1 class="company-name">El chino SAC</h1>
            </div>
        </div>

        <mat-nav-list>
            <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="active-link">
                <div [ngClass]="{ 'active-link': isLinkActive(item.link) }" class="flex align-items-center ">
                    <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="flex justify-content-end">
            <app-user-profile-card [user]="currentUser"></app-user-profile-card>
        </div>
        <div class="mx-8 my-5">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
