
<form [formGroup]="transportCompanyForm" (ngSubmit)="createTransportCompany()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Imagen de bus</mat-label>
      <input matInput formControlName="busImageUrl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Imagen de logo</mat-label>
      <input matInput formControlName="logoImageUrl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create</button>
  </form>