<div class="p-8">

  <div class="header-section flex justify-content-between align-items-center">
    <h1>Mi Flota</h1>
    <app-user-profile-card [user]="currentUser"></app-user-profile-card>
  </div>

  <div class="pt-5 h-full">

      <div class="grid nested-grid">

        <div class="col-4">

          <div class="grid">
            <div class="col-12">
              <mat-card class="p-card flex bordered-card">
                <div class="flex p-4 gap-4 align-items-center justify-content-center">
                  <img src="../../../../../../../assets/images/planification/bus_flote/Personal.png" class="w-full" alt="Personal">
                  <div class="flex-column">
                    <h1>Personal</h1>
                    <button mat-flat-button color="primary" class="big-button">Administrar</button>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-12">
              <mat-card class="p-card flex h-full bordered-card">
                <div class="flex p-4 gap-4 align-items-center justify-content-center">
                  <img src="../../../../../../../assets/images/planification/bus_flote/Buses.png" class="w-full" alt="Buses">
                  <div>
                    <h1>Buses</h1>
                    <button mat-flat-button color="primary" class="big-button">Administrar</button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>

        </div>

        <div class="col-8">
          <mat-card class="p-card flex h-full bordered-card">
            <div class="flex-column m-auto align-items-center justify-content-center gap-3">
              <div class="flex-column text-center gap-4">
                <h1>Unidad de Buses</h1>
                <div class="flex gap-2 p-4">
                  <img src="../../../../../../../assets/images/planification/bus_flote/conductorVector.png" class="w-full" alt="Buses">
                  <img src="../../../../../../../assets/images/planification/bus_flote/busVector.png">
                </div>

                <button mat-flat-button color="primary" class="big-button">Administrar</button>
              </div>
            </div>
          </mat-card>
        </div>

      </div>




    </div>




</div>
